/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

main {
    font-family: 'Bree Serif', serif;
    font-size: 3em;
}

.parole {
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

span i {
    line-height: 40px;
    margin: 0;
}



