/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

main {
    font-family: 'Bree Serif', serif;
    font-size: 2em;
    line-height: 1.5em;
    padding: 0.5em;
    padding-right: 0;
    margin: 10% 2em;
    border: solid black;
}

.parole i {
    animation-timing-function: linear;
    position: relative;
    animation: change infinite;
    animation-duration: 7s;
    color: rgb(90, 168, 188);
    color: transparent;
}

span #word1 {
    animation-delay: 2.3s;
}

span #word2 {
    right: 218px;
    animation-delay: -2.5s;
}

span #word3 {
    right: 14em;
}

@keyframes change {
    0% {bottom: 35px}
    15% {color: rgb(90, 168, 188)}
    30%, 31% {bottom: 0px}
    30%, 31% {color: rgb(90, 168, 188)}
    58% {color: transparent}
    60%, 100% {bottom: -35px}
    
}    



